@import "../../config.css";

header h2 {
  margin: 0;
  color: var(--h2-header-color);
}
header summary {
  color: var(--header-summary-color);
  text-align: center;
  line-height: 28px;
}
header select {
  height: 28px;
  color: var(--header-select-color);
  border: 0;
}
.displaySelection {
  display: flex;
  justify-content: space-between;
}
