.App {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  width: 100%;
  padding: 16px;
  min-height: 100vh;
  background: #f6f6f6;
}

.App > div {
  padding: 10px;
  box-sizing: border-box;
}

h4,
h5,
h6 {
  margin: 0;
}

.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
}

@media (min-width: 768px) {
  .App {
    padding: 32px 64px;
  }
}

@media (min-width: 1024px) {
  .App {
    padding: 64px 64px;
  }
}
