:root {
  --app-bg-color: #f6f6f6;
  --general-anchor-color: #272727;
  --active-anchor-color: #fff;
  --disabled-anchor-color: #bfbfbf;
  --h2-header-color: #6a6a6a;
  --header-summary-color: #bfbfbf;
  --header-select-color: #7a7a7a;
  --hr-color: #e5e5e5;
  --main-ul-color: #f6f6f6;
  --main-li-color: #ffffff;
  --main-hgroup-border-color: #e5e5e5;
  --product-name-color: #6a6a6a;
  --product-description-color: #bfbfbf;
  --product-price-color: #272727;

  --font-family-default: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-size-xs: 10px;
  --font-size-sm: 16px;
  --font-size-m: 17px;
  --font-size-r1: 1.5em;

  --product-grid-gap-xs: 5px;
  --product-grid-gap-sm: 32px;
}
