.general {
  background: #f6f6f6;
  min-height: 75vh;
  padding: 0;
  border-radius: 0.4rem;
}
ul {
  display: grid;
  grid-gap: 5px;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
ul li {
  display: flex;
  background: #ffffff;
  flex-direction: column;
  border: solid 0.08rem #e5e5e5;
  border-radius: 0.4rem;
}
img {
  height: 15rem;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
}
figure {
  display: block;
  padding: 16px;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Lato, sans-serif;
}

.hgroup {
  display: block;
  border-top: 1px solid #e5e5e5;
  text-align: left;
  width: 100%;
  display: block;
}
.product_name {
  color: #6a6a6a;
  font-size: 16px;
  margin: 16px 0px 8px 32px;
  display: block;
}

.product_description {
  color: #bfbfbf;
  margin: 8px 0px 8px 32px;
}

.product_price {
  display: block;
  color: #272727;
  margin: 8px 0px 16px 32px;
}

@media (min-width: 768px) {
  ul {
    grid-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  ul {
    grid-gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  ul {
    grid-gap: 32px;
    grid-template-columns: repeat(4, 1fr);
  }
}
