@import "config.css";

.ul {
  background: var(--main-ul-color);
  min-height: 75vh;
  padding: 0;
  border-radius: 0.4rem;
  display: grid;
  grid-gap: var(--product-grid-gap-xs);
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.li {
  display: flex;
  background: var(--main-li-color);
  flex-direction: column;
  border: solid 0.08rem #e5e5e5;
  border-radius: 0.4rem;
}
img {
  height: 15rem;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
}
figure {
  display: block;
  padding: 16px;
  margin: 0;
  box-sizing: border-box;
}
.split {
  width: 98%;
  border: 0.5px solid var(--hr-color);
}
h2 {
  font-size: var(--font-size-r1);
  font-weight: bold;
  font-family: var(--font-family-default);
}

.hgroup {
  display: block;
  border-top: 1px solid var(--main-hgroup-border-color);
  text-align: left;
  width: 100%;
  display: block;
}
.product_name {
  color: var(--product-name-color);
  font-size: var(--font-size-sm);
  margin: 16px 0px 8px 32px;
  display: block;
}

.product_description {
  color: var(--product-description-color);
  margin: 8px 0px 8px 32px;
}

.product_price {
  display: block;
  color: var(--product-price-color);
  margin: 8px 0px 16px 32px;
}

@media (min-width: 768px) {
  .ul {
    grid-gap: var(--product-grid-gap-sm);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
